[submodule "jishaku"]
	path = jishaku
	url = https://github.com/Cryptex-github/jishaku-enchanted
[submodule "menus"]
	path = menus
	url = https://github.com/Rapptz/discord-ext-menus
[submodule "flags"]
	path = flags
	url = https://github.com/XuaTheGrate/Flag-Parsing
[submodule "ipc"]
	path = ipc
	url = https://github.com/Ext-Creators/discord-ext-ipc
[submodule "cse"]
	path = cse
	url = https://github.com/XuaTheGrate/python-cse
[submodule "currency_converter"]
	path = currency_converter
	url = https://github.com/alexprengere/currencyconverter